<!DOCTYPE html>
<html>
<head><% include partials/page/head.ejs %></head>
 
  <body class="<%= classname %>">
  	<% include partials/page/header.ejs %>
	   <nav class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/"><img src="/images/fit_logo.png" width="399px" height="125px" alt="Fit Tracker Logo" /></a>
	        </div>
	        <div id="navbar" class="collapse navbar-collapse">
	          <ul class="nav navbar-nav navbar-right">
		        <li><a href="/">Home</a></li>
		       </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>
	  	<div id="mainContent" class="container">
		    <h1><%= title %></h1>
		  <div id="featuredBg">
		  	<div id="aboutContent">
				<p>A while ago I was in the market for a fitness tracker.  I was at a point in my life when I wanted to get serious with my workout once again and was interested in the new tools/technologies that are available to aid with not only tracking my daily progress but also as a motivational tool.  After extensive research, I settle on the FitBit HR.  After purchasing this device and using it daily for about two weeks I encountered a major problem with it, it gave me a pretty bad rash on my wrist.  In all my research, I had not come across this issue, so back to the Internet I went goggling “fitbit rash”.  Sure enough this was a known issue and many links popped up documenting it along with ongoing class action lawsuits.  If I had come across this information during my research, I might have made a different choice, or at minimum I would have at least gone in knowing the potential hazards and how to prevent them.</p>

				<p>This application will attempt to provide you, the consumer,  with a place that will be more than just a marketing site, but a comprehensive database and community for obtaining information about the fitness tracking tools that are available on the market today.</p>
			</div>
		  </div>

	    </div>
	 	<div id="footer">
	   <% include partials/page/footer.ejs %>
	   </div>
	 <% include partials/page/jsdefaults.ejs %>
  </body>
</html>
