<!DOCTYPE html>
<html>
<head><% include partials/page/head.ejs %></head>
 
  <body class="<%= classname %>">
  	<% include partials/page/header.ejs %>
	   <nav class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	        <a class="navbar-brand" href="/home"><img src="/images/fit_logo.png" width="399px" height="125px" alt="Fit Tracker Logo" /></a>
	        </div>
	        <div id="navbar" class="collapse navbar-collapse">
	          <ul class="nav navbar-nav navbar-right">
		       	<li id="linkHome"><a href="/home">Home</a></li>
				<li id="linkTop"><a href="/toprated">Top Rated</a></li>
				<li id="linkall" class="active-link"><a href="/alltrackers">All Trackers</a></li>
				<li id="linkadd"><a href="/addtrackers">Add Tracker</a></li>
				<li id="linkrate"><a href="/ratetrackers">Rate Tracker</a></li>
			<!--	<li id="linkreport" class="inactive"><a href="/reportissue">Report Issue</a></li>
				<li id="linkabout" class="inactive"><a href="/about">About</a></li>-->
				<li id="linkcontact"class="inactive"><a href="/contact">Contact</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>
	  <div id="mainContent" class="container">
		    <h1><%= title %></h1>
			<div id="featuredBg" class="page-content">
				<h4>Filter Results By:</h4>
				<div id="filters">

					<!-- issues filter -->
					<select>
						<option selected="true" style="display:none;">Select Issue</option>
		 				<option value="syncing_issues">Syncing Issues</option>
					  	<option value="random_reboots">Random Reboots</option>
					  	<option value="app_crashes">App Crashes</option>
					  	<option value="skin_rashes">Skin Rashes</option>
					</select>

					<!-- devices filter -->
					<select>
						<option selected="true" style="display:none;">Select Device</option>
		 				<option value="fitbit_hr">Fitbit Charge HR</option>
					  	<option value="jawbone_up_move">Jawbone Up Move</option>
					  	<option value="tomtom_cunner_cardio">TomTom Runner Cardio</option>
					  	<option value="garmin_vivoactive">Garmin Vivoactive</option>
					  	<option value="fitbit_surge">Fitbit Surge</option>
					  	<option value="jawbone_up24">Jawbone Up24</option>
					  	<option value="misfit_flash">Misfit Flash</option>
					  	<option value="pivotal_tracker">Pivotal Tracker</option>
					</select>

					<!-- ratings filter -->
					<select>
						<option selected="true" style="display:none;">Select Rating</option>
						<option value="1">1 Star</option>
						<option value="2">2 Stars</option>
						<option value="3">3 Stars</option>
						<option value="4">4 Stars</option>
						<option value="5">5 Stars</option>
					</select>

				</div>
				<hr />
			</div>
	    </div>
	 	<div id="footer">
	   <% include partials/page/footer.ejs %>
	   </div>
	 <% include partials/page/jsdefaults.ejs %>
  </body>
</html>
