<!DOCTYPE html>
<html>
<head><% include partials/page/head.ejs %></head>
 
  <body class="<%= classname %>">
  	<% include partials/page/header.ejs %>
	   <nav class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/home"><img src="/images/fit_logo.png" width="399px" height="125px" alt="Fit Tracker Logo" /></a>
	        </div>
	        <div id="navbar" class="collapse navbar-collapse">
	          <ul class="nav navbar-nav navbar-right">
		       	<li id="linkHome"><a href="/home">Home</a></li>
				<li id="linkTop"><a href="/toprated">Top Rated</a></li>
				<li id="linkall"><a href="/alltrackers">All Trackers</a></li>
				<li id="linkadd" ><a href="/addtrackers">Add Tracker</a></li>
				<li id="linkrate"><a href="/ratetrackers">Rate Tracker</a></li>
			<!--	<li id="linkreport" class="inactive"><a href="/reportissue">Report Issue</a></li>
				<li id="linkabout" class="inactive"><a href="/about">About</a></li>-->
				<li id="linkcontact"class="active-link"><a href="/contact">Contact</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>
	  	<div id="mainContent" class="container">
		    <h1><%= title %></h1>
			<div id="featuredBg">

			</div>
	    </div>
	 	<div id="footer">
	   <% include partials/page/footer.ejs %>
	   </div>
	 <% include partials/page/jsdefaults.ejs %>
  </body>
</html>
