<!DOCTYPE html>
<html>
<head><% include partials/page/head.ejs %></head>
 
  <body class="<%= classname %>">
  	<% include partials/page/header.ejs %>
  	<div class="container form-container">
	   <form class="form-forgot">
       <div class="formBg">
          <div class="formLogo"><img src="/images/fitlogo.jpg" width="200px" height="78px" alt="Fit Tracker Logo" /></div>
          <h2 class="form-signin-heading">Forgot Password</h2>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          <label for="inputConfirmEmail" class="sr-only">Confirm Email</label>
          <input type="email" id="inputConfirmEmail" class="form-control" placeholder="Confirm Email" required>
         
          <button class="btn btn-lg btn-block" type="submit">Reset Password</button>
        </div>
      	</form>
      </div>
	 	<div id="footer">
	   <% include partials/page/footer.ejs %>
	   </div>
	 <% include partials/page/jsdefaults.ejs %>
  </body>
</html>
