<!DOCTYPE html>
<html>
<head><% include partials/page/head.ejs %></head>
 
  <body class="<%= classname %>">
  	<% include partials/page/header.ejs %>
	   <nav class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#"><img src="/images/fitlogo.jpg" width="200px" height="78px" alt="Fit Tracker Logo" /></a>
	        </div>
	        <div id="navbar" class="collapse navbar-collapse">
	          <ul class="nav navbar-nav navbar-right">
		        <!--<li><a data-toggle="modal" href="#SignupModal"></span> Sign Up</a></li>-->
		        <li><a href="/about">About</a></li>
		        <li><a id="linkSignin"  href="/login">Login</a></li>
		        <!-- <li><a id="linkLogin"  data-toggle="modal"href="#loginModal"></span> Login</a></li> -->
	          </ul>

	          <!-- login modal -->
	          <div id="loginModal" class="modal fade" role="dialog" data-backdrop="false">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">Fit Tracker Login</h4>
				      </div
				      <div class="modal-body">
				         <form method="post" action='' name="login_form">
			              <p>
			              <span>Email: </span>
			              <input type="text" class="span3" name="eid" id="email" placeholder="Enter your email">
			              </p>
			              <p><span>Password: </span><input type="password" class="span3" name="passwd" placeholder="Enter your password"></p>
			              <p><button type="submit" class="btn btn-primary">Sign in</button>
			                <a href="/forgot">Forgot Password?</a>
			              </p>
			            </form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>

				  </div>
				</div>
				<!-- login modal end -->

				<!-- signup modal -->
	          <div id="SignupModal" class="modal fade" role="dialog" data-backdrop="false">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">Fit Tracker Sign Up</h4>
				      </div>
				      <div class="modal-body">
				          <form method="post" action='' name="signup_form">
			              <p><span>Email: </span><input type="text" class="span3" name="eid" id="email" placeholder="Email"></p>
			              <p>Password: <input type="password" class="span3" name="passwd" placeholder="Password"></p>
			              <p><button type="submit" class="btn btn-primary">Sign in</button>
			                <a href="/forgot">Forgot Password?</a>
			              </p>
			            </form>
				      </div>
				    
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>

				  </div>
				</div>
				<!-- signup modal end -->


				<!-- forgot modal -->
	          <div id="forgotModal" class="modal fade" role="dialog" data-backdrop="false">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">Fit Tracker Forgot Password</h4>
				      </div>
				      <div class="modal-body">
				        <p>Some text in the modal.</p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>

				  </div>
				</div>
				<!-- forgot modal end -->


	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>
	  	<div id="mainContent" class="container">
		    <h1>Welcome to <%= title %></h1>
		  
	      	<div class="call-to-action">
	      		<button type="button" class="btn-success"><a href="/signup">Sign Up Now</a></button>
	      		
	      	</div>

	      	<div id="featuredBg">
	      		<h2>Featured Device</h2>
	      		<div id="featureDesc" class="feature-content"><p><%= description %></p></div>
	      		<div id="featureImage"><img src="<%= imageMain %>" alt="Fit Bit HR" /></div>
	      		<div class="clear"></div>
	      	</div>

	    </div>
	 	<div id="footer">
	   <% include partials/page/footer.ejs %>
	   </div>
	 <% include partials/page/jsdefaults.ejs %>
  </body>
</html>
