<!DOCTYPE html>
<html>
<head><% include partials/page/head.ejs %></head>
 
  <body class="<%= classname %>">
  	<% include partials/page/header.ejs %>
  	<div class="container form-container">
	  <form class="form-signin" action="/login" method="post"> 
   <!-- <div><% include partials/users.ejs %></div>-->
      <div class="formBg">
         <div class="formLogo"><img src="/images/fitlogo.jpg" width="200px" height="78px" alt="Fit Tracker Logo" /></div>
         <h2 class="form-signin-heading">Sign In</h2>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
         
          <button id="btnSignin" class="btn btn-lg btn-block" type="submit">Sign in</button>
        </div>
      </form>
      <div class="forgotLink">
      	<a href="/forgot">Forgot Password</a>
 		</div>
      </div>
	 	<div id="footer">
	   <% include partials/page/footer.ejs %>
	   </div>
	 <% include partials/page/jsdefaults.ejs %>
  </body>
</html>
