<!DOCTYPE html>
<html>
<head><% include partials/page/head.ejs %></head>
 
  <body class="<%= classname %>">
  	<% include partials/page/header.ejs %>

    <script type="text/javascript">
     $(document).ready(function(){

     window.addEventListener('load', function(){
      

     //   document.getElementById("username").value = '';
      //  document.getElementById("password").value = '';
       
       });

   /*     $("#submit").click(function(){
           user=$("#username").val();
          pass=$("#password").val();
          if (user != '' && pass != ''){
          $.post("http://localhost:3000/login",{username: user,password: pass}, function(data){
            alert('this here')
            if(data==='done')
              {
                alert("login success");
                $("#validError").removeClass("show-error");
              $("#validError").addClass("hide-error");
              }
          });
        } else {
          alert('here');
          $("#validError").removeClass("hide-error");
              $("#validError").addClass("show-error");
        }
        });*/
   
 });
  </script>

  	<div class="container form-container">
    <% if (message) { %>
      <p><%= message %></p>
    <% } %>
      <form action="/login" method="post" class="formSignin" name="formSignin">
        <div class="formBg">
        <div class="formLogo"><img src="/images/fit_logo_sm.png" width="250px" height="78px" alt="Fit Tracker Logo" /></div>
         <h2 class="form-signin-heading">Sign In</h2>
          <div>
              <label>Username:</label>
              <input id="username" type="text" name="username" class="form-control" required/>
          </div>
          <div>
              <label>Password:</label>
              <input id="password" type="password" name="password" class="form-control" required/>
          </div>
          <div>
              <input type="submit" value="Log In" id="submit"/>
          </div>
        </div>
        <div id="validError" class="error-text <%= showclass %>">Invalid username/password. Please try again.</div>
      </form>
        

    <div class="forgotLink">
      	<strong><a href="/forgot">Forgot Password?</a></strong>
 		</div>
      </div>
	 	<div id="footer">
	   <% include partials/page/footer.ejs %>
	   </div>
	 <% include partials/page/jsdefaults.ejs %>
  </body>
</html>
